@media (max-width: 576px) { 
    body {
        width: 360px;
        
    }
}
body{
    background-color: rgb(124, 199, 120);
    padding:0px;
}
.h4{
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}
