@media (max-width: 576px) { 
    body {
        width: 360px;
        
    }
}
body{
    background-color: rgb(124, 199, 120);
    font-family: 'Raleway', sans-serif;
}
.logo{ 
    width:220px;
    margin-bottom: 10px;
}
.mainContainer{
   margin-top: 15px;
}
.helpHomeless{
    padding: 15px;
    text-align: center;
    background-color: white;
}
