@media (max-width: 576px) { 
    body {
        width: 360px;
        
    }
}
body{
    background-color: rgb(124, 199, 120);
    padding:0px;
}
.logo{ 
    width:220px;
    margin-bottom: 10px;
}
.mainContainer{
   margin-top: 15px;
}
.helpHomeless{
    padding: 15px;
    text-align: center;
    background-color: white;
}
.allButtton{
    width: 230px;
    background-color: rgb(115, 179, 218);
    color: rgb(255, 255, 255);
}
.navButton{
    color: rgb(124, 199, 120);
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}