

  .who-we-are-container {
    background-color: transparent;
    color: antiquewhite;
    width: 400px;
    height: 50vh;
    box-shadow: 1px 2px 10px 1px rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    padding: 40px 20px;
    font-family: "Lato", sans-serif;

    h1 {
      color: rgb(59, 170, 59);
      text-transform: uppercase;
    }

    p {
      padding-top: 10px;
      text-transform: uppercase;
      line-height: 1.6;

      span {
        color: rgb(59, 170, 59);
      }
    }
  }